.h2, h4 {
    text-align: center;
}

.product-item {
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 3px 0 3px 0;
    text-align: center;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.add-to-card-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

