html, body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.section {
    margin-right: 20px;
    margin-left: 20px;
}

.category-item {
    text-align: center;
    height: 290px;
    background-color: white;
    position: relative;
    margin-bottom: 10px;
    padding: 5px;

}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.section-list {
    text-align: center;

}

.thumbnail {
    padding: 0;

}

.panel {
    position: relative;

}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #2ecde2;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #2ecde2;
    border-width: 8px;
}

.navbar {
    width: 100%;

}

.bd-footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 20%;
    text-align: left;
    background-color: #2ecde2;
    flex: 0 0 auto;
}

.text-muted {
    color: #071528;
    font-size: 14px;

}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.card-img-bottom {
    color: #fff;
    height: 400px;
}

footer {
    width: 100%; /* Ширина слоя */
    margin: 0 auto;
    font-size: 20px;

}

footer #rights {
    background: #ffffff;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

footer > section {
    display: inline-block;
}

footer > section > h6 {
    color: #ffffff;
    font-size: 20px;
    text-indent: 20px;
}

footer > section ul li {
    list-style: none;
}

footer > section ul li a {
    text-decoration: none;
    color: rgba(255, 254, 250, 0.99);
    font-size: 16px;

}

footer > section ul li a:hover {
    color: black;
}