<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
         .leftimg {
    float:left; /* Выравнивание по левому краю */

   }
         .rightimg{
             float: right;
         }
    #onas, #onas3{

            color: #071528;
            font-size: 31px;
        text-align: center;
        }
         #onas1{

            color: #5be5e4;
            font-size: 40px;
        text-align: center;
        }

  </style>
</head>
<body>
{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <p id="onas1">Коротко о нас</p>
    <p><img src="{% static 'media/pek.jpg' %}" width="40%" hspace="30" vspace="30" class="leftimg"> </p>
        <p  id="onas">
            <br>
            Наша пекарня была открыта совсем недавно – в ноябре 2017 года, но уже успела завоевать любовь посетителей.
            Мы старались создать уютное место, где каждый сможет насладиться вкуснейшей выпечкой.
            <br>
            <br>Также, удобно сделать
            заказ на нашем сайте и получить свежие лакомства с доставкой на дом.
            <br>
            <br> Прежде всего, мы заботимся о качестве нашей продукции – только натуральные ингредиенты, разнообразные начинки и лучшие рецепты.
            Мы не завышаем цены и хотим показать, что качественно – не значит дорого. Для нашей компании решающим фактором является вкус поэтому, если хотите вкусной выпечки -
            мы с удовольствием будем рады видеть вас. </p>
     <br>
    <br>
    <br>
    <p id="onas1">Создатели</p>
    <p><img src="{% static 'media/onas.jpg' %}" width="30%" hspace="30" vspace="30" class="rightimg"> </p>
<p id="onas3">

<br>Идея создания собственной пекарни появилась в сентябре 2017 года, когда три подруги решили зайти в ближайшее кафе, чтобы перекусить вкусной выпечки, но представленный ассортимент только
    огорчил: пирожки были совсем не вкусные, заветревшиеся и черствые.
Наверное, этот момент стал решающим и идея собственной пекарни появилась у каждой в голове, ведь от вкусных булочек, приготовленных по бабушкиному рецепту, или сладких пирогов, сделанных с
любовью и душой, не откажется никто.
<br>Да, возможно эти девушки больше понимают в программировании, в красочных постах в Инстаграмме или в косметике, но от вкусного перекуса ни одна из них просто не сможет отказаться,
ведь ничего не может быть лучше придти после длинного трудового дня в уютное место, где тебя примут с заботой и теплотой, предложат широкий ассортимент продукции и вынесут всё теплым и горячим.
</p>
{% endblock %}

</body>
</html>
