{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}

    {% include 'landing/slider.html' %}

    <h3 class="text-center"> Ассортимент </h3>
    {# вкладка с категориями продуктов #}
    <div class="section">
        <div class="container">
            <div class="row">
                {% for category in categories %}
                    <div class="col-lg-3">

                        <div class="card">
                            <img class="card-img-top" src="{{ category.image.url }}" class="img-responsive">
                            <div class="card-block">
                                <h4 class="card-title text-center">{{ category.name }}</h4>

                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">
                                    <a href="{% url 'category' category.id %}">Подробнее</a></li>
                            </ul>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    {# вкладка с постами #}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center"> Отзывы о нас </h3>
                <h5 class="text-center">«Бейкери-стрит» делает все, чтобы стать еще лучше для наших клиентов.
                    Мы будем благодарны, если Вы выскажете свое мнение о нашем сервисе, пожелания и предложения в
                    этом разделе.</h5>
            </div><!-- /col-sm-12 -->
        </div><!-- /row -->

        <div class="row ml-1">
            {% for review in reviews %}
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo"
                             src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ review.ownuser.username }}</strong> <span
                                class="text-muted">  ({{ review.created|date:"Y-m-d G:i:s" }})</span>
                        </div>
                        <div class="panel-body">
                            {{ review.message }}
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
            {% endfor %}
        </div><!-- /row -->

        {% if user.is_authenticated %}
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'landing/../form.html' %}
                <button type="submit" class="btn btn-success">Отправить</button>
            </form>
        {% endif %}

    </div><!-- /container -->






{% endblock %}