{% load static %}

<!-- Custom styles -->
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'product.css' %}">
<style>
    .btn {
        background: #2ecde2;
        border: 1px solid #2ecde2;
    }

    .btn:hover {
        border: 1px solid #13a3d0;
        background: #13a3d0;
    }

    .col-lg-4 {
        position: relative;
    }
</style>
<div class="col-lg-4">
    <div class="product-item">
        <div>
            <img src="{{ MEDIA_URL }}{{ product.image_small.url }}" class="img-responsive">
            <a href="{% url 'product' product.id %}">

                <h4>{{ product.name }}</h4>
            </a>
        </div>
        <p>
            {{ product.small_description }}
        </p>
        <div>
            {{ product.price }} рублей
        </div>
        <div style="margin: 20px">
            <a href="{% url 'product' product.id %}" class="btn btn-primary">Перейти к покупке</a>
        </div>

    </div>
</div>