{% load static %}

<!-- Custom styles -->
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'product.css' %}">

<div class="col-lg-4">
    <div class="product-item">
        <div>
            <img src="{{ MEDIA_URL }}{{ product.image_small.url }}" class="img-responsive">
            <a href="{% url 'product' product.id %}">

                <h4>{{ product.name }}</h4>
            </a>
        </div>
        <p>
            {{ product.small_description }}
        </p>
        <div>
            {{ product.price }} рублей
        </div>
        <div class="add-to-card-btn">
            <button class="btn btn-success">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>