{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div class="product-image-item">
                    <img src="{{ product.image.url }}" class="img-responsive">
                </div>

            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <h4>
                        Цена: {{ product.price }} рублей
                        Вес: {{ product.weight }} грамм
                    </h4>
                </div>
                <div>
                    <div class="row">
                        {{ product.description }}
                    </div>

                    <div class="form_buying_product" class="form-inline">
                        <button type="submit" id="submit_btn" class="btn btn-success btn-buy">
                               <input type="number" class="form-control">
                            Купить
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}