{% extends 'base.html' %}
{% load static %}
<style>
    .btn {
        background: #2ecde2;
        border: 1px solid #2ecde2;
    }

    .btn {
        border: 1px solid #13a3d0;
        background: #13a3d0;
    }
</style>
{% block content %}
    <style>
        .btn {
            background: #2ecde2;
            border: 1px solid #2ecde2;
        }

        .btn:hover {
            border: 1px solid #13a3d0;
            background: #13a3d0;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div class="product-image-item">
                    <img src="{{ product.image.url }}" class="img-responsive">
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ product.name }}</h3>
                        <p class="card-text text-justify">{{ product.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ product.price }} рублей</li>
                        <li class="list-group-item">{{ product.weight }} грамм</li>
                    </ul>
                    <div class="card-body form-inline">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="number" class="form-control" id="count" name="count" placeholder="Количество" value="1">
                                <button type="submit" class="btn btn-success">Купить</button>
                            </div>
                        </form>
                        {% if not user.is_authenticated %}
                            <h5><small>Для офомления заказа, пожалуйста, <a href="/signin/">войдите </a> или <a href="/signup/">зарегистрируйтесь</a></small></h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}