{% extends 'base.html' %}
{% load static %}
    <style>
    .btn
    {
    background: #2ecde2;
    border: 1px solid #2ecde2;
    }
    .btn{
         border: 1px solid #13a3d0;
        background: #13a3d0;
    }
    </style>
{% block content %}
        <style>
    .btn
    {
    background: #2ecde2;
    border: 1px solid #2ecde2;
    }
    .btn:hover{
         border: 1px solid #13a3d0;
        background: #13a3d0;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div class="product-image-item">
                    <img src="{{ product.image.url }}" class="img-responsive">
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ product.name }}</h3>
                        <p class="card-text text-justify">{{ product.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ product.price }} рублей</li>
                        <li class="list-group-item">{{ product.weight }} грамм</li>
                    </ul>
                    <div class="card-body">
                        <form class="form-inline">
                            {% include 'form.html' %}
                            <div class="form-group mx-sm-3">
                                <label for="inputPassword2" class="sr-only">Количество</label>
                                <input type="number" class="form-control" id="CountProductId" placeholder="Количество">
                            </div>
                            <button type="submit" class="btn btn-success">Купить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}