{% load static %}

<!DOCTYPE HTML>
 <html>
<head>
    <title>slider</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
</head>
 <body>
<br>
<footer class="footer">
    <section>
       <H6>     Навигация по сайту</H6>
        <ul>
            <li><a href='/'>Домой</a></li>
            <li><a href="/about/">О нас</a></li>
            <li><a href="/contacts/">Контакты</a></li>
            <li><a href="/news/">Новости</a></li>
        </ul>
    </section>
    <div id="rights">
        Все права защищены 2017
        Сейлор мун
    </div>
</footer>
 </body>