{% load static %}

<!DOCTYPE HTML>
 <html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
</head>
 <body>
<br>
<footer class="bd-footer text-muted">
    <div class="container">

       <ul class="bd-footer-link list-inline">
            <li class="list-inline-item"><a href='/'>Домой</a></li>
            <li class="list-inline-item"><a href="/about/">О нас</a></li>
            <li class="list-inline-item"><a href="/contacts/">Контакты</a></li>
            <li class="list-inline-item"><a href="/news/">Новости</a></li>
        </ul>
        <p>© 2017 Все права защищены. Создано группой Сейлор-мун</p>

    </div>


</footer>
 </body>